body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.spinner{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background: url('../img/giphy.gif');
    background-size: 100%;
}