.message-container {
    height: 100px;
    width: 49%;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    display: grid;
    grid-template-areas: 
        "avatar text date"
        "avatar text    like";
    grid-template-columns: 100px 1fr max-content;
    grid-column-gap: 5px;
}

.message-container img {
    height: 100%;
    grid-area: avatar;
}

.message-date {
    grid-area: date;
    justify-self: right;
    text-align: right;
    font-size: 12px;
}

.message-text {
    grid-area: text;
    justify-self: left;
    font-size: 15px;
    align-self: center;
}

.fa-heart {
    grid-area: like;
    color: grey;
    justify-self: right;
    text-align: right;
    align-self: flex-end;
    font-size: 18px;
}

.message-container .fa-heart:hover {
    color: red;
    cursor: pointer;
}

.is-liked {
    color: red;
}

.my-message-container {
    height: 100px;
    width: 49%;
    border: 1px solid black;
    padding: 3px;
    margin: 5px;
    display: grid;
    grid-template-areas: 
        "delete text date"
        "edit   text like";
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: 5px;
    float: right;
}

.fa-times, .fa-pencil {
    color: gray;
    font-size: 18px;
    text-align: left;
    height: fit-content;
}

.fa-pencil {
    grid-area: edit;
    align-self: end;
}

.fa-times {
    grid-area: delete;
}

.fa-times:hover, .fa-pencil:hover {
    color: black;
    cursor: pointer;
}

